body{
    background-color: #44b8d8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 16px;
    color: #38200c;
}

/*
    formatting for the leaves of the tree
*/
.header{
    background-image: url(images/leaves1.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: fixed;
    height: 120px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100; 
}

/*
    trunk of the tree and the "signs" placed on it 
*/
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6B492B;
    position: fixed;
    overflow: auto;
    z-index: 10;
    bottom: 85px;
    top: 0;
    left: 0;
}
nav li a{
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration-line: none;
    border: 2px solid black;
    background-color: #C4A484;
    height: 20px;
    padding: 15px;
    margin-top: 10px; 
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}
nav ul:first-child{
    padding-top: 140px;
}
/*
    colors for links on the page
*/
a:link{
    color: #084e33;
}
a:visited{
    color: #47192C;
}
a:hover{
    color: #53000E;
}

/*
    button styling
*/
button{
    background-color: #C4A484;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #38200c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
    formatting for first content box on the page. margins are used 
    specifically so that the leaves and trunk do not cover any content.
*/
.intro{
    width: 75%;
    padding: 25px;
    margin: 30px;
    margin-top: 120px;
    margin-left: 250px;
    border: 2px solid black;
    background-color: #C4A484;
    overflow: hidden;
    display: inline-block;
}
.intro h1{
    text-align: center;
}
.intro iframe{
    width: 900px;
    height: 700px;
}
#resume{
    text-align: center;
}
/*
    formatting used for any content boxes following the first box (intro)
*/
.box{
    width: 75%;
    padding: 25px;
    margin: 30px;
    margin-left: 250px;
    margin-bottom: 100px;
    border: 2px solid black;
    background-color: #C4A484;
    overflow: hidden;
    
}
.box h1{
    text-align: center;
}

.body-text{
    display: inline-block;
}
#body-image img{
    height: 200px;
    width: 200px;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*
    formatting for the two columns on qualifications
*/
.grid-container {
    display: inline-grid;
    width: 76.5%;
    margin-left: 250px;
    margin-bottom: 100px;
    align-self: center;
    justify-self: space-evenly;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.grid-child {
    border: 2px solid black;
    background-color: #C4A484;
    width: 100%;
    padding: 10px;
}
.grid-child h3{
    text-align: center;
}

/*
    formatting for the grass and image links at the bottom of the screen
*/
.footer{
    width: 100%;
    background-color: #8CBF6F;
    height: 80px;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    border: none;
    margin-top: 100px;
    padding-top: 5px;
    text-decoration-line: none;
}
.footer img{
    width: 75px;
    height: 75px;
}